<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>welcome</title>
    {% load static %}
    <link href="{% static 'bootstrap/css/style.css'%}" rel="stylesheet" type="text/css" media="all">
    <script src="{% static 'bootstrap/js/jquery.min.js'%}"></script>
    <link href="{% static 'bootstrap/css/bootstrap.css'%}" rel="stylesheet" type="text/css" media="all">
  </head>
  <body>
    <p>
      {% if user.is_authenticated %}
        {% if user.profile.usertype %}
          your money is {{user.store.money}}
        {% else %}
          your money is {{user.profile.money}}
        {% endif %}
      {% endif%}
    </p>
    <div class="container">

      <section id="content">{% block content %}{% endblock %}</section>
    </div>
      <nav>
      <ul class="nav nav-pills pull-left">

        <p>
        <li role="presentation">
        <a href="{% url 'login_user' %}">login_user</a>
        </li>
        <li role="presentation">
        <a href="{% url 'login_store' %}">login_store</a>
        </li>
        </p>
        <p>
        <li role="presentation">
        <a href="{% url 'register_user' %}">register_user</a>
        </li>
        <li role="presentation">
        <a href="{% url 'register_store' %}">register_store</a>
        </li>
        </p>
        <p>
        <li role="presentation">
        <a href="{% url 'index' %}">Index</a>
        </li>
        </p>
      </ul>
      </nav>
  </body>
</html>
