<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}My shop{% endblock %}</title>
    {% load static %}
    <link href="{% static 'bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  </head>
  <body>
      <div id="header">
          <a href="/" class="logo">My shop</a>
      </div>
      <div id="subheader">
          <div class="cart">
              Your cart is empty.
          </div>
      </div>
      <div id="content">
          {% block content %}
          {% endblock %}
      </div>
      <nav>
       <ul class="nav nav-pills pull-right">
       <a href="{% url 'index' %}">index</a>
       {% if user.is_authenticated %}
         <li role="presentation">
         <a href="{% url 'logout_user' %}">logout(<b>{{user.username}}</b>)</a>
         </li>
         <li role="presentation">
           {% if user.profile.usertype%}
           <a href="{% url 'edit_store' %}">edit store</a>
           {% else %}
           <a href="{% url 'edit_user' %}">edit user</a>
           {% endif %}
         </li>
       {% else %}
         <p>
         <li role="presentation">
         <a href="{% url 'login_user' %}">login_user</a>
         </li>
         <li role="presentation">
         <a href="{% url 'login_store' %}">login_store</a>
         </li>
         </p>
         <p>
         <li role="presentation">
         <a href="{% url 'register_user' %}">register_user</a>
         </li>
         <li role="presentation">
         <a href="{% url 'register_store' %}">register_store</a>
         </li>
         </p>
       {% endif %}
       </ul>
       </nav>
  </body>
</html>
