{% extends 'base.html' %}
{% block content %}
<div id="main" class="index_orderItem">
  <table class="item">
    <thead>
        <tr>
          <th>Userinfo</th>
          <th>Product</th>
          <th>Quantity</th>
          <th>Unit price</th>
          <th>Price</th>
          <th>Deliver</th>
          <th>Recieve</th>
          <th>Detail</th>
        </tr>
    </thead>
    <tbody>
      {% for item in orderItems %}
          {% with product=item.product %}
              <tr>
                  <td>{{item.user.username}}</td>
                  <td><a href="{{product.get_detail_product_url}}">{{ product.name }}</a></td>
                  <td>{{ item.quantity}}</td>
                  <td class="num">${{ item.price }}</td>
                  <td class="num">${{ item.get_cost }}</td>
                  <td>{% if item.delivered%}
                      delivered
                      {% else %}
                      <form action="{% url 'deliver_item' item.id%}">
                        <input type="submit" value="deliver it">
                      </form>
                      {%endif%}
                  </td>
                  <td>{% if item.recieved%}recieved{% else %}unrecieved{%endif%}
                  </td>
                  <td><a href="{% url 'detail_item' item.id%}">more</a></td>
              </tr>
          {% endwith %}
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
