{% extends "base.html" %}
{% block content %}
    <p>Your order has been successfully completed.</p>
        <p>Your order number is <stong>{{ order.id }}</stong></p>
        <p>Your totalcost is <stong>{{ order.get_total_cost }}</stong></p>
        <form method="post" action = "{% url 'delete_order_done' order.id %}">
            <p>are you sure?<p>
              {% csrf_token %}
            <p><input type="submit" value="delete"></p>
        </form>
        <p>click here to <a href="{% url 'index' %}">index</a></p>
{% endblock%}
