{% extends "store_base.html" %}
{% load static %}
{% block content %}
    <h2 class = "account-in">Your order has been successfully completed. </h2>
    <h2 class = "account-in">Your order number is <stong>{{ order.id }}</stong></h2>
    <h2 class = "account-in">Your totalcost is <stong>{{ order.get_total_cost }}</stong></h2>
  <table class="cart">
    <thead>
        <tr>
          <th width="100">Product   </th>
          <th width="100">Quantity  </th>
          <th width="100">Unit price   </th>
          <th width="100">Price   </th>
          <th width="100">Pay   </th>
          <th width="100">Deliver   </th>
          <th width="100">Recieve   </th>
          <th width="100">Comment   </th>
          <th width="100">Return  </th>
        </tr>
    </thead>
    <tbody>
      {% for item in orderItems %}
          {% with product=item.product %}
              <tr>
                  <td width="100"><a href="{{product.get_detail_product_url}}">{{ product.name }}</a></td>
                  <td width="100">{{ item.quantity}}</td>
                  <td class="num" width="100">${{ item.price }}</td>
                  <td class="num" width="100">${{ item.get_cost }}</td>
                  <td width="100">{% if order.paid %}paid{% else %}unpaid{%endif%}</td>
                  <td width="100">{% if item.delivered%}delivered{% else %}undelivered{%endif%}</td>
                  <td width="100">{% if item.recieved%}
                      recieved
                      {% else %}
                        {% if item.delivered%}
                        <form action="{% url 'recieve_item'  item.id%}">
                        <input type="submit" value="recieve it">
                        </form>
                        {% else %}
                        wait for delivering
                        {%endif%}
                      {%endif%}
                  </td>
                  <td width="100">
                      {% if item.recieved%}
                          {% if item.commented %}
                          <a href="{% url 'revision_comment' item.id %}">revision comment</a>
                          {% else %}
                          <a href="{% url 'comment_item' item.id %}">can comment</a>
                          {% endif %}
                      {% else %}
                           can't comment
                      {%endif%}
                  </td>
                  <td width="100">
                  {% if item.recieved%}
                          {% if not item.returned and not item.wait_returned %}
                          <a href="{% url 'return_item' item.id %}">return</a>
                          {% elif item.wait_returned%}wait_returned
                          {% else %}has been returned
                          {% endif %}
                      {% else %}
                          cant return
                      {%endif%}
                  </td>
              </tr>
          {% endwith %}
      {% endfor %}
    </tbody>
  </table>
  </br> </br> </br> </br>
    <p>click here to <a href="{% url 'index_order' %}">index order</a></p>
    {% if order.paid %}
      <p>this order has been paid</p>
    {% else %}
      <p>click here to <a href="{% url 'pay_order' order.id %}">pay</a></p>
    {% endif %}
    {% if not order.paid or order.finished%}
    <p>click here to <a href="{% url 'delete_order' order.id %}">delete</a></p>
    {% endif %}
{% endblock%}
