{% extends "store_base.html" %}
{% load static %}
{% block content %}
    <h2 class = "account-in">Your order has been successfully completed. </h2>
    <h2 class = "account-in">Your order number is <stong>{{ order.id }}</stong></h2>
    <h2 class = "account-in">Your totalcost is <stong>{{ order.get_total_cost }}</stong></h2>
        <form method="post" action = "{% url 'pay_order_done' order.id %}" class = "account">
            <p>are you sure?<p>
              {% csrf_token %}
            <p><input type="submit" value="pay"></p>
        </form>
{% endblock%}
