{% extends 'store_base.html'%}
{% block content %}
<div>
    <h2 class = "account-in">Now reply</h2>
    <h2 class = "account-in">this is comment</h2>
    <h3>{{comment.body}}</h3>
    <h2 class = "account-in">this is previous reply</h2>
    <h3>{{comment.reply}}</h3>
  <form method="POST" action = "{%url 'revision_reply' orderItem.id%}" class = "account">
      {% csrf_token %}
      {{form.as_p}}
      {{errors}}
      <p><input type="submit" value="comment"></p>
    </form>
</div>
{% endblock %}
