{% extends "base.html" %}
{% load static %}
{% block content %}
    <div>
      {% if user.is_authenticated %}
        {% if not user.profile.usertype %}
          {% if not user_want %}
          <form action="{% url 'add_user_want' store.slug product.id%}">
            <input type="submit" value="add_user_want">
          </form>
          {% else %}
          <form action="{% url 'delete_user_want' store.slug product.id%}">
            <input type="submit" value="delete_user_want">
          </form>
          {% endif%}
        {% endif %}
      {% endif %}
    </div>
    <div class="product-detail">
        <img src="{% if product.image %}{{product.image.url}}{% else %} {% static 'img/no_image.png' %}{% endif %}">
        <h1>{{ product.name }}</h1>
        <p class="old_price">${{ product.old_price }}</p>
        <p class="price">{{ product.price }}</p>
        {{ product.description|linebreaks }}
        {% for comment in comments %}
        <li class="list-group-item clearfix">
        <div class="word-wrap">{{comment.body}}  grade:{{comment.grade}}</div>

        <div class="pull-right"> <b>{{comment.name}}</b>
                                 <span>{{comment.created }}</span>
        </div>
        </li>
        {% endfor %}
        {% if user.is_authenticated %}
          {% if user.profile.usertype %}
            <p>click here to  <a href="{{product.get_delete_product_url}}">delete product</a></p>
            <p>click here to  <a href="{{product.get_edit_product_url}}">edit product</a></p>
            <p>click here to  <a href="{{store.get_list_product_url }}">return list</a></p>
            <p>click here to  <a href="{{store.get_index_store_url }}">return store</a></p>
          {% else %}
            <form action="{% url 'add_cart' product.id %}" method="post">
                {{ add_cart_form }}
                {% csrf_token %}
                <input type="submit" value="Add to cart">
            </form>
            <p>click here to  <a href="{% url 'list_store'%}">return list</a></p>
          {% endif %}
        {% endif %}
    </div>
{% endblock content %}
