{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="product-detail">
        <img src="{% if product.image %}{{ product.image.url }}{% else %} {% static 'img/no_image.png' %}{% endif %}">
        <h1>{{ product.name }}</h1>
        <p class="price">${{ product.price }}</p>
        <p class="stock">{{ product.stock }}</p>
        {{ product.description|linebreaks }}
        <p>click here to  <a href="{{product.get_delete_product_url}}">delete product</a></p>
        <p>click here to  <a href="{{product.get_edit_product_url}}">edit product</a></p>
        <p>click here to  <a href="{{store.get_list_product_url }}">return list</a></p>
        <p>click here to  <a href="{{store.get_index_store_url }}">return store</a></p>
    </div>
{% endblock content %}
