{% extends "base.html" %}
{% load static %}
{% block content %}
    <div>
      <p>{{store.name}}</p>
      <form method="post" action = "{{store.get_list_product_url}}" >
          {% csrf_token %}
          {{ form.as_p }}
          <p><input type="submit" value="search"></p>
      </form>
    </div>
    <div id="main" class="product-list">
        {% for product in products %}
            <div class="item">
                <a href="{{product.get_detail_product_url}}">
                   <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
                </a>
                <a href="{{product.get_detail_product_url}}">{{ product.name }}</a><br/>
                ${{ product.price }}
            </div>
        {% endfor %}
    </div>
    {% if user.is_authenticated %}
      {% if user.profile.usertype %}
      <p>click here to  <a href="{{store.get_add_product_url}}">add product</a></p>
      {% endif %}
    {% endif %}
{% endblock content %}
