<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}My shop{% endblock %}</title>
    {% load static %}
    <link href="{% static 'bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  </head>
  <body>
      <div id="header">
          <a href="/" class="logo">My shop</a>
      </div>
      <div id="subheader">
          <div class="cart">
              Your cart is empty.
          </div>
      </div>
      <div id="content">
          {% block content %}
          {% endblock %}
      </div>
      <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation">
          <a href="{% url 'index' %}">index</a>
        </li>
      {% if user.is_authenticated %}
        <li role="presentation">
        <a href="{% url 'logout' %}">logout(<b>{{user.username}}</b>)</a>
        </li>
        <li role="presentation">
        <a href="{% url 'user_edit' %}">edit</a>
        </li>
      {% else %}
        <li role="presentation">
        <a href="{% url 'login' %}">login</a>
      </li>
        <li role="presentation">
        <a href="{% url 'register' %}">register</a>
      </li>
      {% endif %}
      </ul>
      </nav>
  </body>
</html>
