{% extends 'store_base.html'%}
{% load static %}
{% block content %}
    <h2>Your shopping cart</h2>
    <table class="cart">
        <thead>
            <tr>
                <th>Image</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Remove</th>
                <th>Unit price</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart %}
                {% with product=item.product %}
                    <tr>
                        <td width="250">
                            <a href="{{ prouct.get_detail_product_url }}">
                                <img src="{% if product.image %}{{ product.image.url}}{% else %}{% static 'img/no_image.png' %}{% endif %}" height="150" width="150">
                            </a>
                        </td>
                        <td width="200">{{ product.name }}</td>
                        <td width="200">
                            <form action="{% url 'add_cart' product.id %}" method="post">
                                {{ item.update_quantity_form.quantity }}
                                {{ item.update_quantity_form.update }}
                                <input type="submit" value="Update" class="lightbutton">
                                {% csrf_token %}
                            </form>
                        </td>
                        <td width="200"><a href="{% url 'remove_cart' product.id %}">Remove</a></td>
                        <td class="num" width="200">${{ item.price }}</td>
                        <td class="num" width="200">${{ item.total_price }}</td>
                    </tr>
                {% endwith %}
            {% endfor %}
            <tr class="total">
                <td>Total</td>
                <td colspan="4"></td>
                <td class="num">${{ cart.get_total_price }}</td>
            </tr>
        </tbody>
    </table>
    <p class="text-right">
        <a href="{% url 'index' %}" class="hvr-shutter-in-vertical cart-to">Shopping</a>
        <a href="{% url 'create_order' %}" class="hvr-shutter-in-vertical cart-to">Checkout</a>
    </p>
{% endblock%}
