{% extends 'base.html' %}
{% block content %}
  <div>
      <form method="post" action = "{% url 'search_index' %}" >
          {% csrf_token %}
          {{ form.as_p }}
          <p><input type="submit" value="search"></p>
      </form>
  </div>
  <div>
    {% for store in stores %}
      <div class="item">
          <a href="{{store.get_list_product_url}}">{{store.name}}</a>
      </div>
    {% endfor %}
    {% for product in products %}
        <div class="item">
            <a href="{{product.get_detail_product_url}}">{{ product.name }}</a>
            {{product.store.name}}
        </div>
    {% endfor %}
  </div>
{% endblock %}
